<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    body{
        background: #12151D;
    }
    p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    }

</style>


<p>
    Hi, I am Prince Goswami. I sent this email from my Django app using Google's SMTP server. I have completed both assignments. Here is the GitHub link: <a href=" https://github.com/mr2space/test" > https://github.com/mr2space/test</a> and my GitHub account link: <a href="https://github.com/mr2space">https://github.com/mr2space</a>. My contact information is as follows: email-princegoswami.space@gmail.com, phone: 7393085743. 
    Link is Active at <a href="http://54.196.202.149:8080/">
    Thank you for the opportunity.
</p>


</body>
</html>